.contact{
    background-color: aqua;
    height: 100vh;
    /*display: flex;
    flex-direction: column;*/
}
.form{
    display: flex;
    flex-direction: column;
    width: 72%;
    height: 80%;
    justify-content: space-between;
}
.container{
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.input{
    width: 99%;
    height: 50px;

}
.textarea{
    width: 99%;
    height: 150px;

}
button{
    height: 70px;
    width: 160px;
}