.skillBlock{
    min-height: 20vh;
    background-color: #f8f9fa;;

}
.ulDiv{
    display: flex;


}

.ulStyle{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    border-left: 1px solid rgba(0,0,0,.05);
    /*border-bottom: 1px solid rgba(0,0,0,.05);*/
    align-items: center;
}
.liStyle{
    width: 25%;
    text-align: center;
    height: 214px;
   /* border-top: 1px solid rgba(0,0,0,.05);*/
    border-right: 1px solid rgba(0,0,0,.05);
    border-left: 1px solid rgba(0,0,0,.05);
    cursor: pointer;
    list-style-type: none;
}
.container{

    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills{

    width: 100%;
    margin: 10px;
    display: flex;
   /* justify-content: space-between;
    flex-wrap: wrap;*/

}
.title{
    background-color: white;
    font-size: 60px;
    margin-bottom: 8px;
    text-align: center;
}
@media screen and (max-width: 634px){
.ulStyle{
    flex-direction: column;
}
    .liStyle{
        max-width: 300px;
        padding:0 30% 0 30%;
    }
}