.mainBlock{
   background-color:  white;


}



.text{
    max-width: 600px;
    max-height: 430px;
    display: flex;
    flex-wrap: wrap;

}
.photo{
    margin-top: 100px;
    max-height: 761px;
    max-width: 460px;
    border-radius: 18px;



}
.container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}



.name{
    color: #1f1f25;
    font-size: 75px;

}
.Nikita{
    color: #f9004d;
}
@media screen and (max-width: 1341px){
    .container{
        padding:0 25% 0 25%;




    }}
@media screen and (max-width: 800px){
    .photo{
        height: 370px;
        margin-top: 0px;
        text-align: center;

    }

    .name{
        font-size: 50px;
    }

}