.work {
    min-height: 105vh;
    background-color:rebeccapurple;

}

.title{
    height: 100px;
    width: 100%;
    border: 1px solid;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;

}
.project{

    border: 1px solid;
    /*width: 100%;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
@media screen and (max-width: 961px){
    .project{
        justify-content:center;

    }
}
.container{
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


}
