.nav {
  /*  width: 300px;
    display: flex;
    justify-content:space-between;*/
    box-sizing: border-box;
}
.href{
    color: #c6c9d8;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    display: inline-block;
}
a:active{
    color:#ac0404;

}
@media screen and (max-width: 412px){
.href{
    font-size: 12px;
    padding: 10px;
}
}